@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@700&family=Poppins:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    background: #E1F4E9;
    position: relative;
    width: 100%;
}


.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: first baseline;
    height: 60px;
    padding: 20px 40px;
    z-index: 4;
    position: relative;
    box-shadow: 0px 4px 4px rgba(203, 195, 195, 0.25);
}
 
.navbar img {
    width: 80px;
    margin-right: 40px;
    position: absolute;
    bottom: 10px;
}
.navbar-nav {
    display: flex;
    gap: 50px;
    margin-top: 9px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: absolute;
    left: 155px;
    
}

.hamburger {
    background: #27AE60;
    border: 0;
    color: #fff;
    padding: 5px;
    display: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
ul li {
    list-style: none;
}

.navbar-nav a {
    text-decoration: none;
    color: #393939;

}

.home-section1 {
    
    display: flex;

}
.text-1 {
    font-weight: 500;
}

.text-2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.btn {
    background: #27AE60;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    
    border: none;
    color: #fff;
}
.svg-img {
    width: 20px;
    height: 16px;
    margin-right: 10px;
}

.hero-img {
    width: 500px;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.home-section1 {
    padding: 40px 0;
}


.home-section1-left a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;

}

.img-padding {
    padding-top: 30px;
}
.cont-rel {
    position: absolute;
    bottom: -21%;
    right: 29%;

}

.pop {
    padding-top: 100px;
}
 .input-box {
    border: 1px solid #E2E6E3;
    background: #fff;
    width: 500px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(203, 195, 195, 0.25);
}
  

 .input-box > i {
    font-size: 20px;
    color: #27AE60;
    max-width: 100%;
    padding-top: 15px;
}

.input-box > input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 12px;
    width: 83%;
} 

.box-relative {
    position: relative;
    display: flex;
    flex-direction: column;
}


.star {
    background: #f1e3c7 ;
    margin-top: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    justify-content: space-evenly;  
}

.star p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.true-h4 {
    text-align: center;
    
}

.space {
    box-shadow: 0px 4px 4px rgba(203, 195, 195, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 60px;
    margin: 40px auto;
    width: 60vw;
    height: 30vh;
    overflow: hidden;

}

.space-left {
    flex: 70%;
}

.space-right {
    flex: 30%;
}

.space-img {
    max-width: 50%;
    margin-left: 84px;
}

.money-space {
    background: #F0F7F9;

}

.safe-space {
  background: #f1e3c7 ;

}

.time-space {
   background: #F2F9EE;
    
}


footer {
    background: #E1F4E9;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-2 {
    gap: 85px;
    margin-right: 162px;
    padding: 40px 0;
}
.megs a{
    color: #393939;
    text-decoration: none;
    font-size: 1rem;
}
.soft {
    margin-left: 24px;
}

.soft a {
    color: #27AE60;
    margin-left: 10px;
    font-size: 18px;

}

.foot-img img{
    margin-left: 22px;
    width: 100px;
}

.f-bold {
    font-weight: 400;
    font-size: 1rem;

}
.foot-end {
    background: #27AE60;
    color: #fff;
    padding: 10px 0 10px 30px;
}


@media (max-width: 75rem) {
    html {
        width: fit-content;
        overflow-x: hidden;
    }

    .navbar {
        align-items: center;
        justify-content: space-between;
        height: 92px;
        padding: 20px;
    }
    .navbar-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background: #fff;
        width: 79%;
        top: 114px;
        left: 71px; 
        border-radius: 5px;
        padding: 20px;
    }
    
    .navbar-nav.show {
        display: flex;
    }
    .hamburger {
        display: block;
    }
    .hamburger:focus {
        outline: none;
    }
    .navbar img {
        width: 100px;
    }
    .navbar-nav {
        display:flexbox;
    }

    .input-box {
        width: 400px;
    }
    .home-section1-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .home-section {
        flex-direction: column;
        padding: 100px 20px;
        text-align: center;
    }
    
    .space {
        width: 85%;
        height: 85%;
        padding: 15px 27px;
    }
    
    .space img {
        margin-right: 62px;
    }
   .cont-rel {
       top: 96%;
       right: 10%;
       
   }
    
   .star {
       width: 300px;
       align-items: center;
       margin-left: 40px;
   }

   .flex-2 {
       margin: 0;
       gap: 40px;
       padding-right: 24px;
   }
}